Repository john-psina/django-admin-style-linker, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, configuration, core, templates, tests

.github/labeler.yml:

# Automatic labeling for pull requests

documentation:
  - '**/*.md'
  - 'docs/**/*'

dependencies:
  - 'requirements.txt'
  - 'pyproject.toml'

configuration:
  - '*.yml'
  - '*.yaml'
  - '.github/**/*'

core:
  - 'admin_style_linker/**/*.py'

templates:
  - 'admin_style_linker/templates/**/*'

tests:
  - '**/*test*.py'
  - 'tests/**/*'

fix: Remove package import check from CI workflow
  .github/workflows/ci.yml
Labels: configuration

1.0.1
  CHANGELOG.md
  admin_style_linker/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: recursive-include in MANIFEST.in
  MANIFEST.in
Labels: none

1.0.2
  CHANGELOG.md
  admin_style_linker/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core

fix: module 'django.db.models' has no attribute 'FieldDoesNotExist'
  admin_style_linker/mixins.py
Labels: core

1.0.3
  CHANGELOG.md
  admin_style_linker/__init__.py
  pyproject.toml
Labels: documentation, dependencies, core
